@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LQ.Map.Localization
@using Volo.Abp.Users
@model LQ.Map.Web.Pages.IndexModel
@inject IHtmlLocalizer<MapResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

<div id="cesiumContainer"></div>


