@page
@model LQ.Basic.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using LQ.Basic.Localization
@using Volo.Abp.Users
@inject IHtmlLocalizer<BasicResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    @{
        foreach (var item in Model.Claims)
        {
           
        }
    }
</div>
